@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

$p-color: black;
$p-size: 10px;
$p-font: monospace, sans-serif;

#root,
body,
header,
footer,
main,
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: $p-color;
  font-size: $p-size;
  font-family: $p-font;
}

body {
  position: absolute;
}

main {
  width: 85%;
  max-width: 1200px;
  background: yellow;
}

.main-header {
  height: 5rem;
}

.main-nav,
#copyright {
  width: 90%;
  max-width: 720px;
  margin: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu-item a {
  text-decoration: none;
  font-size: $p-size * 1.5;
  color: $p-color;
  margin-left: 20px;
}

.menu-item a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000, $alpha: 0.3);
}

.comments-section {
  background: #fff;
  border: 2px solid $p-color;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 18px 45px;
}

.popup-image {
  display: block;
  margin: 18px auto;
}

.popup-title {
  text-align: center;
  font-size: $p-size * 2.4;
}

.popup-support-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 540px;
  margin: auto;
}

.popup-support-text {
  font-size: $p-size * 1.2;
}

.popup-comments {
  max-width: 540px;
  margin: auto;
}

.comments-title {
  text-align: center;
  font-size: $p-size * 1.5;
  margin-bottom: 18px;
}

.comments-list {
  list-style: none;
  align-items: flex-start;
}

.comment {
  margin: 3px 0;
}

.add-comment {
  width: 90%;
  max-width: 540px;
  margin: 0 auto 30px auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
}

.form input {
  width: 180px;
}

.form input,
.form textarea {
  outline: none;
  border: 2px solid $p-color;
  color: #000;
  font-family: monospace, sans-serif;
  padding: 3px 9px;
  margin-bottom: 9px;
}

.form button {
  background: #fff;
  border: 2px solid $p-color;
  box-shadow: 2px 2px $p-color;
  cursor: pointer;
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding: 3px 6px;
  width: 90px;
  transition: all 100ms ease;
}

.form button:hover {
  background: #333;
  color: #fff;
  box-shadow: none;
  transform: translate(1px, 1px);
}

@import './styles/mainContent.scss';
